In [220]:
import pandas as pd

In [228]:
# Load the training data 
train_data = pd.read_csv("C:/Users/cdale/OneDrive/Documents/GitHub/Movie_Webscraper/sample_data/train.csv")
train_data.drop_duplicates()
columns_to_drop = ["homepage", "overview", "poster_path", "Keywords", "tagline", "imdb_id"]
train_data = train_data.drop(columns= columns_to_drop)
# train_data
# Explore the training data
# print(train_data.head(20))
# print(train_data.info())

In [231]:
# Filling in empty data with null values
train_data.replace('', pd.NA, inplace=True)

# Dropping duplicate values
train_data = train_data.drop_duplicates()

train_data

,id,belongs_to_collection,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,title,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",en,Hot Tub Time Machine 2,6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,"[{'id': 107674, 'name': 'The Princess Diaries ...",3300000,"[{'id': 18, 'name': 'Drama'}]",en,Whiplash,64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,"[{'id': 107674, 'name': 'The Princess Diaries ...",1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",hi,Kahaani,3.174936,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'IN', 'name': 'India'}]",3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,"[{'id': 107674, 'name': 'The Princess Diaries ...",0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",ko,마린보이,1.148070,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,Marine Boy,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,"[{'id': 107469, 'name': 'Save The Last Dance C...",0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",en,Chasers,9.853270,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Chasers,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,"[{'id': 107469, 'name': 'Save The Last Dance C...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",sv,Vi är bäst!,3.727996,"[{'name': 'Memfis Film', 'id': 321}, {'name': ...","[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'is...",3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,We Are the Best!,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,"[{'id': 107469, 'name': 'Save The Last Dance C...",65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",en,The Long Kiss Goodnight,14.482345,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Long Kiss Goodnight,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,"[{'id': 107469, 'name': 'Save The Last Dance C...",42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",en,Along Came Polly,15.725542,"[{'name': 'Jersey Films', 'id': 216}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Along Came Polly,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,"[{'id': 107469, 'name': 'Save The Last Dance C...",35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",en,Abduction,10.512109,"[{'name': 'Lions Gate Films', 'id': 35}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [223]:
# Pulls the 'id' key from the dictionary and replaces that number in the "id" column. Then deletes the "belongs to collection" column.
train_data['belongs_to_collection'] = train_data['belongs_to_collection'].apply(eval)
train_data['id'] = train_data['belongs_to_collection'].apply(lambda x: x[0]['id'])
train_data = train_data.drop(columns= "belongs_to_collection")

# Pulls the genre names from the dictionary in the "genres" column and add them to a new column "genre". Then deletes the "genres" column.
train_data['genres'] = train_data['genres'].apply(eval)
train_data['genre'] = train_data['genres'].apply(lambda x: ", ".join([genre['name'] for genre in x]))
train_data = train_data.drop(columns= "genres")

# Pulls the production company names out of the "production_companies" column and places them in the new column "production_company". Then deletes the "prodution_companies" column.
train_data['production_companies'] = train_data['production_companies'].apply(eval)
train_data['production_company'] = train_data['production_companies'].apply(lambda x: ", ".join([company['name'] for company in x]))
train_data = train_data.drop(columns= "production_companies")

# Pulls the production country names out of the "production_countries" column and places them in the new column "production_country". Then deletes the "prodution_country" column.
train_data['production_countries'] = train_data['production_countries'].apply(eval)
train_data['production_country'] = train_data['production_countries'].apply(lambda x: ", ".join([country['name'] for country in x]))
train_data = train_data.drop(columns= "production_countries")

# Pulls the spoken languages out of the "spoken_languages" column and places them in the new column "spoken_language". Then deletes the "spoken_language" column.
train_data['spoken_languages'] = train_data['spoken_languages'].apply(eval)
train_data['spoken_language'] = train_data['spoken_languages'].apply(lambda x: ", ".join([language['name'] for language in x]))
train_data = train_data.drop(columns= "spoken_languages")


# Isolates the "character" and "name"(actor) keys from the "cast" column and puts them in the new column "cast_info"
train_data['cast'] = train_data['cast'].apply(eval)
train_data['cast_info'] = train_data['cast'].apply(lambda x: [{'character': actor['character'], 'name': actor['name']} for actor in x] if isinstance(x, list) else [])
train_data = train_data.drop(columns='cast')

train_data

,id,budget,original_language,original_title,popularity,release_date,runtime,status,title,crew,revenue,genre,production_company,production_country,spoken_language,cast_info
0,313576,14000000,en,Hot Tub Time Machine 2,6.575393,2/20/15,93.0,Released,Hot Tub Time Machine 2,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,Comedy,"Paramount Pictures, United Artists, Metro-Gold...",United States of America,English,"[{'character': 'Lou', 'name': 'Rob Corddry'}, ..."
1,107674,40000000,en,The Princess Diaries 2: Royal Engagement,8.248895,8/6/04,113.0,Released,The Princess Diaries 2: Royal Engagement,"[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,"Comedy, Drama, Family, Romance",Walt Disney Pictures,United States of America,English,"[{'character': 'Mia Thermopolis', 'name': 'Ann..."
2,107674,3300000,en,Whiplash,64.299990,10/10/14,105.0,Released,Whiplash,"[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,Drama,"Bold Films, Blumhouse Productions, Right of Wa...",United States of America,English,"[{'character': 'Andrew Neimann', 'name': 'Mile..."
3,107674,1200000,hi,Kahaani,3.174936,3/9/12,122.0,Released,Kahaani,"[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,"Thriller, Drama","Bold Films, Blumhouse Productions, Right of Wa...",India,"English, हिन्दी","[{'character': 'Vidya Bagchi', 'name': 'Vidya ..."
4,107674,0,ko,마린보이,1.148070,2/5/09,118.0,Released,Marine Boy,"[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,"Action, Thriller","Bold Films, Blumhouse Productions, Right of Wa...",South Korea,한국어/조선말,"[{'character': 'Chun-soo', 'name': 'Kim Kang-w..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,107469,0,en,Chasers,9.853270,4/22/94,102.0,Released,Chasers,"[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,"Comedy, Romance","Warner Bros., Morgan Creek Productions",United States of America,English,"[{'character': 'Rock Reilly', 'name': 'Tom Ber..."
2996,107469,0,sv,Vi är bäst!,3.727996,3/28/13,102.0,Released,We Are the Best!,"[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,"Drama, Music","Memfis Film, Film i Väst","Denmark, Sweden",svenska,"[{'character': 'Bobo', 'name': 'Mira Barkhamma..."
2997,107469,65000000,en,The Long Kiss Goodnight,14.482345,10/11/96,120.0,Released,The Long Kiss Goodnight,"[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,"Crime, Action, Mystery, Thriller","New Line Cinema, Forge, The Steve Tisch Company",United States of America,English,[{'character': 'Samantha Caine / Charly Baltim...
2998,107469,42000000,en,Along Came Polly,15.725542,1/16/04,90.0,Released,Along Came Polly,"[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,"Comedy, Romance","Jersey Films, Loofah Productions",United States of America,English,"[{'character': 'Reuben Feffer', 'name': 'Ben S..."
2999,107469,35000000,en,Abduction,10.512109,9/22/11,106.0,Released,Abduction,"[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,"Thriller, Action, Mystery","Lions Gate Films, Vertigo Entertainment, Gotha...",United States of America,English,"[{'character': 'Nathan Harper', 'name': 'Taylo..."

Empty DataFrame
Columns: [id, budget, original_language, original_title, popularity, release_date, runtime, status, title, crew, revenue, genre, production_company, production_country, spoken_language, cast_info]
Index: []